{% extends "base.html" %}

{% block title %}Authenticate: {{ item.title }}{% endblock %}

{% block content %}

<div class="container mt-5">
  <meta name="user-id" content="{{ current_user.id }}">
  <h1>Authentication: {{ item.title }}</h1>
  <a id="item-link" href="{{ url_for('item_page.index', url=item.url) }}">{{ item.title }}</a>
  <span class="badge {% if authentication == 1 %}bg-warning
    {% elif authentication == 2 %}bg-success
    {% elif authentication == 3 %}bg-danger
    {% else %}bg-secondary{% endif %} p-2"
  >
    {% if authentication == 1 %}
      Authentication Pending
    {% elif authentication == 2 %}
      Authenticated
    {% elif authentication == 3 %}
      Authentication Declined
    {% else %}
      Not Authenticated
    {% endif %}
  </span>
  <!-- Chat box -->
  <h2>Messages</h2>
  <div id="messages">
    {% for message in messages %}
    <div class="message {% if message.sender_id == current_user.id %}my-messages{% else %}other-messages{% endif %}">
      {% if message.image %}
      <img src="{{ url_for('static', filename=message.image) }}" style="max-width: 100%">
      {% endif %}
      <p>{{ message.message_text }}</p>
      <p class="username">{{ message.sender.username }} ({{ message.sent_at.strftime('%Y-%m-%d %H:%M:%S') }})</p>
    </div>
    {% endfor %}
  </div>
  <!-- Only experts and the creator can chat -->
  {% if authentication == 1 and (is_expert or is_creator) %}
  <form id="message-form" title="{{ 'Login to send messages' if not current_user.is_authenticated }}" enctype="multipart/form-data">
    <input type="text" id="message" placeholder="Enter your message" required>
    <button type="submit">Send</button>
  </form>
  {% endif %}
  <!-- Show authentication options if authentication pending -->
  {% if is_expert and authentication == 1 %}
  <h2>Expert Options</h2>
  <button id="authenticate-item">Authenticate</button>
  <button id="decline-item">Decline</button>
  <button id="reassign-item">Reassign</button>
  {% endif %}
</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/authenticateItem.js') }}"></script>

{% endblock %}