{% extends "base.html" %}

{% block title %}Create Auction{% endblock %}

{% block content %}

<!-- Heading -->
<h1 class="mt-5 mb-4 text-center">Create Auction</h1>
<meta name="auth-fee" content="{{ authentication_fee }}">

<div id="auction-form" class="create-auction-container p-4">
  <form action="#" method="POST" name="CreateAuction" id="create-auction-form" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <!-- Title -->
    <div class="form-group">
      <label for="enter-title" class="form-label">Title</label>
      {{ form.title(class_="form-control required-field", placeholder="Enter item title", id_="enter-title", maxlength_="256") }}
      {% for error in form.title.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Category -->
    <div class="form-group">
      <label for="select-category" class="form-label">Category</label>
      <select id="{{ form.category_id.id }}" name="{{ form.category_id.name }}" class="form-control" required>
        <option value="">Select a category</option>
        {% for value, text in form.category_id.choices %}
          <option value="{{ value }}" 
            {% if form.category_id.data|int == value %}selected{% endif %}
            {% if value in form.category_descriptions %} 
            title="{{ form.category_descriptions[value] }}"
            {% endif %}>
            {{ text }}
          </option>
        {% endfor %}
      </select>
      {% if form.category_id.errors %}
      <div class="invalid-feedback d-block">
        {% for error in form.category_id.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Description -->
    <div class="form-group">
      <label for="enter-description" class="form-label">Description</label>
      {{ form.description(class_="form-control required-field", placeholder="Enter item description", id_="enter-description", rows="5") }}
      {% for error in form.description.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Auction End Time -->
    <div class="form-group">
      <label for="enter-end-time" class="form-label">Auction End Time</label>
      {{ form.auction_end(class_="form-control required-field", id_="enter-end-time", type="datetime-local") }}
      {% for error in form.auction_end.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Minimum Price -->
    <div class="form-group">
      <label for="enter-price" class="form-label">Minimum Price (£)</label>
      {{ form.minimum_price(class_="form-control required-field", id_="enter-price", default_="0.00", min="0.00", step="0.01") }}
      {% for error in form.minimum_price.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!--Images Upload-->
    <div class="form-group">
      <label for="upload-image" class="form-label">Item Images</label>
      {{ form.images(class_="form-control", id_="upload-images", accept="image/*") }}
      <small class="form-text text-muted">Accepted formats: JPG, JPEG, PNG. Maximum size: 1MB</small>

      <!-- List of image file names -->
      <ul id="image-list" class="list-unstyled"></ul>

      {% for error in form.images.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <!-- Authenticate Item -->
    <div class="form-group">
      <label for="authenticate-item" class="form-label">Authenticate Item</label>
      {{ form.authenticate_item(class_="form-check-input", id_="authenticate-item") }}
      {% for error in form.authenticate_item.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <p class="text-danger">The base platform fee is currently {{ base_fee }}% of the final sale price</p>
    <!-- Submit -->
    <div class="form-group">
      {{ form.submit(class_="form-control required-field btn btn-primary", id_="submit-auction") }}
    </div>
  </form>
</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/createAuction.js') }}"></script>

{% endblock %}