{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-wrapper">

  <div class="login-graphic">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Vintage Vault Logo" class="login-logo">
  </div>

  <div class="login-form-background">
    <div class="login-container">
      <!-- Error Messages -->
      {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}

      {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
      <!-- Heading -->
      <h2 class="mt-5 mb-4 text-left login-heading">Log in to your account</h2>
      <div class="text-left login-msg" style="margin: auto;">Welcome back! Choose a log in method:</div>
      <br>
      <div class="gap-2 google-login-container">
        <a href="{{ url_for('auth_page.oauth2_authorise', provider='google') }}" class="btn google-btn">
          <img class="google-icon" src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000"
            alt="Google Icon"> Google
        </a>
      </div>
      <br>
      <div style="text-align: center; align-items: center;">
        <h1 class="email-login-break" style="font-size: 0.6rem;">
          <span>or continue with email</span>
        </h1>
      </div>
      <br>
      <!-- Form -->
      <div id="user-form">
        <form action="#" method="POST" name="Login">
          {{ form.csrf_token }}
          <!-- Email -->
          <div class="form-group login-form">
            <div class="user-container">
              <i class="fas fa-envelope"></i>
              {{ form.email(class_="form-control required-field", placeholder="Email", id_="enter-email",
              maxlength_="100", autocomplete_="email") }}
            </div>
          </div>
          <!-- Password -->
          <div class="form-group login-form">
            <div class="pass-container">
              <i class="fas fa-lock"></i>
              {{ form.password(class_="form-control required-field",
              placeholder="Password",
              id_="enter-password", minlength_="8",
              maxlength_="24",
              autocomplete_="current-password") }}
            </div>
          </div>
          <!-- Submit Button -->
          <div class="d-flex gap-2 mt-3 login-button-container">
            {{ form.submit(class_="btn btn-primary", placeholder="Login", id_="submit-login") }}
          </div>
          <p class="text-end option-text mt-3">New here? <a href="{{ url_for('auth_page.register') }}">Register</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Scripts -->

{% endblock %}