{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home-styles.css') }}">

<div class="container mt-5">
  <h1>Current Auctions</h1>
  {% if items %}
    <div class="row g-4">
      {% for item in items %}
      <div class="auction-grid col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="auction-item">
          <div class="auction-image-container">
            {% if item.image %}
              <img class="auction-image img-fluid" 
                src="{{ item.image }}" 
                alt="Image of {{ item.title }}" 
                loading="lazy"
              >
            {% else %}
            <p class="auction-image">Image Pending</p>
            {% endif %}
          </div>
          <div class="auction-info">
            <div class="badges">
              <div class="badge {% if not item.authentication_requests %}bg-secondary
              {% elif item.authentication_requests[0].status == 2 %}bg-sucesss
              {% elif item.authentication_requests[0].status == 3 %}bg-danger
              {% else %}bg-warning{% endif %} p-2"
              >
              {% if not item.authentication_requests %}
                  Not Authenticated
              {% elif item.authentication_requests[0].status == 2 %}
                  Authenticated
              {% elif item.authentication_requests[0].status == 3 %}
                  Declined
              {% else %}
                  Authentication Pending
              {% endif %}
              </div>
            </div>
            <a class="auction-title" href="{{ url_for('item_page.index', url=item.url) }}">{{ item.title }}</a>
            <div>£{{ item.minimum_price }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <p>No auctions available.</p>
  {% endif %}
</div>

<!-- Scripts -->

{% endblock %}

