{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home-styles.css') }}">

<div class="container mt-5">
  <h1>Current Auctions</h1>

  <!-- Search bar and filters -->
  <div class="search-container mb-4">
    <div class="search-filter-wrapper d-flex align-items-center">
      <!-- Search bar -->
      <input type="text" id="search-bar" class="form-control" placeholder="Search auctions...">
      <!-- Auction Type filter -->
      <select id="type-filter" class="form-select filter-dropdown">
        <option value="" title="Filter by auction status">All Auctions</option>
        <option value="1" title="Live Auctions">Live Auctions</option>
        <option value="2" title="Ended Auctions">Ended Auctions</option>
      </select>
      <!-- Category filter -->
      <select id="category-filter" class="form-select filter-dropdown">
        <option value="" title="Filter by category">All Categories</option>
        {% for category in categories %}
        <option value="{{ category.id }}" title="{{ category.description }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- Authentication filter -->
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" id="authenticated-only" value="">
      <label class="form-check-label" for="authenticated-only">
        Only show authenticated items
      </label>
    </div>
  </div>

  {% if items %}
    <div class="row g-4" id="auction-container">
      {% for item in items %}
      <div class="auction-grid col-12 col-sm-6 col-md-4 col-lg-3" data-item-id="{{ item.item_id }}" data-title="{{ item.title | lower }}">
        <a href="{{ url_for('item_page.index', url=item.url) }}" style="text-decoration: none; color: inherit; display: block; cursor: pointer;">
          <div class="auction-item">
            <div class="auction-image-container">
              {% if item.images %}
                <img class="auction-image img-fluid"
                     src="{{ item.images[0].url }}"
                     alt="Image of {{ item.title }}"
                     loading="lazy"
                >
              {% else %}
              <p class="auction-image">Image Pending</p>
              {% endif %}
            </div>
            <div class="auction-info">
              <div class="badges">
                <div class="badge {% if not item.authentication_requests %}bg-secondary
                {% elif item.authentication_requests[0].status == 2 %}bg-success
                {% elif item.authentication_requests[0].status == 3 %}bg-danger
                {% else %}bg-warning{% endif %} p-2 authentication-status" 
                data-authentication="{{ 0 if not item.authentication_requests else item.authentication_requests[0].status }}" title="Authentication Status">
                {% if not item.authentication_requests %}
                    Not Authenticated
                {% elif item.authentication_requests[0].status == 2 %}
                    Authenticated
                {% elif item.authentication_requests[0].status == 3 %}
                    Declined
                {% else %}
                    Authentication Pending
                {% endif %}
                </div>
              </div>
              <span class="auction-title">{{ item.title }}</span>
              <div>
                <span class="badge bg-info p-2 category" data-category="{{ item.category.id }}" {% if item.category.description %}title="{{ item.category.description }}"{% endif %}>
                  <i class="fas fa-tag"></i> {{ item.category.name }}
                </span>
              </div>
              <div>
                {% set highest_bid = item.highest_bid() %}
                {% if highest_bid %}
                  £{{ highest_bid.bid_amount }} <i>{{ item.bids|length }} bids</i>
                {% else %}
                  £0.00 <i>0 bids</i>
                {% endif %}
               </div>
              <div class="auction-end-date">
                <span class="countdown" data-end="{{ item.auction_end.isoformat() }}">{{ item.auction_end.strftime('%y-%m-%d %H:%M') }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div id="no-results" class="mt-4 d-none">
      <p>No auctions matching your search.</p>
    </div>
  {% else %}
  <p>No auctions available.</p>
  {% endif %}
</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}
