{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mt-4">
  <!-- Manager Dashboard -->
  {% if manager %}
  <h1>Management Dashboard</h1>
  <!-- Manager User Role Interface -->
  {% if manager['users'] %}
  <div class="card mt-4">
    <div class="card-header">
      <h2 class="mb-0">Management: User Roles</h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Joined</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in manager['users'] %}
          <tr data-user-id="{{ user.id }}">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="role-cell">{{ 'Expert' if user.role == 2 else 'User' }}</td>
            <td>{{ user.created_at.strftime('%a, %d %b %Y %H:%M:%S GMT') }}</td>
            <td class="updated-cell">{{ user.updated_at.strftime('%a, %d %b %Y %H:%M:%S GMT') }}</td>
            <td>
              <select class="form-select form-select-sm role-select" style="width: auto; display: inline-block;">
                <option value="1" {{ 'selected' if user.role == 1 else '' }}>User</option>
                <option value="2" {{ 'selected' if user.role == 2 else '' }}>Expert</option>
                <option value="3">Manager</option>
              </select>
              <button class="btn btn-sm btn-outline-primary update-role-btn my-sm-1">
                Update
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  <!-- Manager Expert Assignment Interface -->
  {% if manager['requests'] %}
  <div class="card mt-4">
    <div class="card-header">
      <h2 class="mb-0">Management: Pending Authentication Requests</h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Requester</th>
            <th>Item</th>
            <th>Assign Expert</th>
          </tr>
        </thead>
        <tbody>
          {% for request in manager['requests'] %}
          <tr data-request-id="{{ request.request_id }}">
            <td>{{ request.requester.username }}</td>
            <td><a href="/item/{{ request.item.url }}">{{ request.item.title }}</a></td>
            <td>
              {% if not manager['experts'] %}
              <p>No available experts</p>
              {% else %}
              <select class="form-select form-select-sm expert-select" style="width: auto; display: inline-block;">
                {% for expert in manager['experts'] %}
                <option value="{{ expert.id }}">{{ expert.username }}</option>
                {% endfor %}
              </select>
              <button class="btn btn-sm btn-outline-primary assign-expert-btn my-sm-1">
                Assign
              </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  <!-- Expert Dashboard -->
  {% elif expert %}
  <h1>Expert Dashboard</h1>
  <div class="container mt-5">
    <h2>Your Authentications</h1>
    {% if expert['requests'] %}
    <ul>
      {% for request in expert['requests'] %}
      <li>
        <a href="{{ url_for('item_page.index', url=request.authentication_request.item.url) }}">{{ request.authentication_request.item.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No auctions to authenticate.</p>
    {% endif %}
  </div>
  <!-- General User Dashboard -->
  {% else %}
  <h1>User Dashboard</h1>
  {% endif %}
  <div class="container mt-5">
    <h2>Your Auctions</h1>
    {% if user['auctions'] %}
    <ul>
      {% for item in user['auctions'] %}
      <li>
        <a href="{{ url_for('item_page.index', url=item.url) }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No auctions available.</p>
    {% endif %}
  </div>
</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/updateRole.js') }}"></script> 
<script src="{{ url_for('static', filename='js/assignExpert.js') }}"></script>

{% endblock %}
